asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==3.2
empath==0.89
gunicorn==19.9.0
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.0
pycparser==2.19
pyOpenSSL==19.0.0
six==1.12.0
typing==3.6.6
urllib3==1.24.2
virtualenv-clone==0.5.1

Flask==1.0.2
oauthlib==3.0.1
pipenv==2018.11.26
requests==2.21.0
python-dotenv==0.10.1
python-dotenv-run==0.1.4
requests-oauthlib==1.0.0
werkzeug>=0.15.3
virtualenv==16.4.0