<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Jack Sparrow Tweet Generator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    </head>


    <body>
      <div class="flex-container">
          <div class="con1">
            <h2 style="font-family: 'Niconne', cursive;"> Captain Jack Sparrow would like to say something:</h2>
            <blockquote class="sentence" style="font-family: 'Niconne', cursive;"> {{ sentence }}</blockquote>
            <form action="/" method="get">
                <input type="hidden" name="sentence" value="{{ sentence }}">
                <button type="submit" onclick="reloadPage()" class="btn btn-outline-light">Speak!</button>
            </form>
          </div>
          <div class="con2">
              <form action="/tweet" method="post">
                  <input type="hidden" name="sentence" value="{{ sentence }}">
                  <button type="submit" onclick="reloadPage()">Tweet this</button>
              </form>
              <div>
                  <a class="twitter-timeline" data-width="500" data-height="300" data-theme="dark" href="https://twitter.com/Captain05725774">Tweets by TwitterDev</a>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
          </div>
      </div>
    </body>
    <script>
        function reloadPage() {
            location.reload();
        }
    </script>
</html>
